<title>{{ title }}</title>

<div class="container-fluid" style="display: flex;">
  <img class="header-img" src ="./assets/images/andes.png" style="width:150px;height:80px;">
  <h1 class="header-style">Andes Mountains Search</h1>
</div>
<div class="container-fluid" style="padding-top: 15px">
  <form [formGroup]="newForm">
    <div class="form-group" style="margin-bottom: 0px;">
      <table width="100%">
        <tr>
          <td colspan="2">
            <label>Enter keywords for search:</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="search" (search)="onSearch()" class="form-control" formControlName="keyWords" clear/>
          </td>
          <td width="70px">
            <button class="btn btn-primary" type="submit" (click)="onSearch()">Search</button>
          </td>
        </tr>
      </table>
    </div>
  </form>
</div>

<div class="container-fluid">
      <table width="100%">
        <tr>
          <td>
            <button mat-raised-button class="example-action-button" (click)="doTextSearch()"
                [ngStyle]="{'background-color': (searchType === 'text') ? 'lightgrey' : ''}">
              Text&nbsp;Search
            </button>
          </td>
          <td>
            <button mat-raised-button class="example-action-button"  (click)="doImageSearch()"
                [ngStyle]="{'background-color': (searchType === 'image') ? 'lightgrey' : ''}">
              Image&nbsp;Search
            </button>
          </td>
          <td>
            <button mat-raised-button class="example-action-button" (click)="doAudioSearch()"
                [ngStyle]="{'background-color': (searchType === 'audio') ? 'lightgrey' : ''}">
              Audio&nbsp;Search
            </button>
          </td>
          <td>
            <button mat-raised-button class="example-action-button" (click)="doVideoSearch()"
                [ngStyle]="{'background-color': (searchType === 'video') ? 'lightgrey' : ''}">
              Video&nbsp;Search
            </button>
          </td>
          <td width="100%">&nbsp;</td>
        </tr>
      </table>
</div>

<div class="container-fluid" *ngIf="requestFinished === true && requestValid === true">
  <table>
    <tr>
      <th>Score</th>
      <th>Text</th>
    </tr>
    <tr *ngFor="let det of resp.result">
      <td style="vertical-align: top;">{{ det.score }}</td>
      <td>{{ det.text }}</td>
    </tr>
  </table>
</div>

<div class="container-fluid" *ngIf="requestValid === false">
  <table><tr><td>{{ errorMessage }}</td></tr></table>
</div>
